#password-checker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    min-width: 75%;
    min-height: 25vh;
}

#password-checker-container h1 {
    padding-bottom: 3%;
    font-size: 25px;
}

#password-checker-container button {
    padding: 2%;
    margin-top: 2%;
    border-radius: 10px;
    font-size: 15px;
}

#password-checker-container button:hover {
    cursor: pointer;
}

#password-checker-container button:disabled {
    cursor: not-allowed;
}

#password-checker-container input {
    padding: 1%;
    border-radius: 10px;
    font-size: 15px;
    text-indent: 5px;
}

#password-checker-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 75%;
    min-height: 50vh;
    background-color: white;
    opacity: 0.8;
}

#result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    font-size: 20px;
}

#result-container h1 {
    text-decoration:underline;
}

#score-span {
    font-weight: 800;
}

#feedback-span {
    font-weight: 800;
}

#description-span {
    font-weight: 800;
}

#result-container h1 {
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 3%;
}
