#password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 75%;
    min-height: 40vh;
    color: gold;
    font-size: 45px;
    opacity: 0.8;
    background-color: whitesmoke;
    border: 2px solid black;
}
