#password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    min-height: 10vh;
    color: gold;
    font-size: 25px;
    background-color: blue;
    border: 2px solid black;
}