#password-criteria-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    min-width: 71%;
    margin-top: 3%;
    background-color: whitesmoke;
    border: 2px solid black;
}

#password-criteria-container h1 {
    font-size: 30px;
    padding-bottom: 2%;
    text-decoration:underline;
}

#button-container {
    display: flex;
    justify-content: center;
    min-width: 30%;
    margin-top: 2%;
    gap: 20px;
}
#button-container button {
    padding: 1%;
    width: 60%;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    background: linear-gradient(5deg, #1eff00, #006eff, #fbff00);
    background: -moz-linear-gradient(5deg, #1eff00, #006eff, #fbff00); /* For Firefox */
    background: -webkit-linear-gradient(5deg, #1eff00, #006eff, #fbff00); /* For Chrome and Safari */
}

#qr-link {
    text-decoration: none;
    color: black;
}

#button-container button:hover {
    cursor: pointer;
}

#criteria-form {
    display: flex;
    justify-content: space-around;
    min-width: 85%;
    font-size: 20px;
    font-weight: 800;
}
