#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 75%;
    min-height: 60vh;
    border: 3px solid orange;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100vh;
    border: 4px solid black;
}