#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100vh;
    background-image: url("./assets/password-blocks.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
